SET time_zone = '+00:00';
create database demo2;
use demo2;


DROP TABLE IF EXISTS `items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `items` (
  `itemID` int NOT NULL,
  `name` varchar(20) DEFAULT NULL,
  `price` int DEFAULT NULL,
  `category` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`itemID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `items`
--

LOCK TABLES `items` WRITE;
/*!40000 ALTER TABLE `items` DISABLE KEYS */;
INSERT INTO `items` VALUES (129,'petronas',1200,'lubricant'),(132,'shell',1300,'lubricant'),(157,'renault',9800,'engine'),(354,'pirelli',3400,'tire'),(355,'michelin',3600,'tire'),(467,'mercedes',9900,'engine'),(477,'ferrari',9700,'engine');
/*!40000 ALTER TABLE `items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stores`
--

DROP TABLE IF EXISTS `stores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stores` (
  `location` varchar(20) DEFAULT NULL,
  `store_manager` varchar(20) DEFAULT NULL,
  `size` varchar(10) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stores`
--

LOCK TABLES `stores` WRITE;
/*!40000 ALTER TABLE `stores` DISABLE KEYS */;
INSERT INTO `stores` VALUES ('lazimpat','senna','large'),('pulchowk','schumacher','medium'),('ason','vettel','small'),('tahachal','alonso','small'),('durbarmarg','hamilton','large');
/*!40000 ALTER TABLE `stores` ENABLE KEYS */;
UNLOCK TABLES;