/* Container Styles */
.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
  padding: 2rem;
  background: linear-gradient(to bottom right, #f7fafc, #ccd6e2);
}

/* Content Layout - Two columns for larger screens */
.home-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  text-align: center;
  max-width: 1500px;
  width: 100%;
  gap: 4rem;
}

/* Text Content */
.text-content {
  flex: 1;
  max-width: 50%;
  text-align: left;
}

.title {
  font-size: 2.6rem;
  font-weight: bold;
  color: #2d3748; /* Dark gray for readability */
}

.description {
  font-size: 1.1rem;
  color: #4a5568; /* Medium gray for softer contrast */
  margin-top: 1rem;
}

/* Image Container */
.image-container {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
}

.query-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.logo{
  max-width: 35%;
  font-size: 1.2rem;
  height: auto;
  margin-bottom: 2rem;
}

/* CTA Button */
.cta-button {
  background-color: #ff5733;
  color: white;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: none;
}

.cta-button:hover {
  background-color: #c13c21;
  transform: scale(1.05);
}

/* Responsive Design - Stack elements on small screens */
@media (max-width: 768px) {
  .home-content {
      flex-direction: column;
      text-align: center;
  }
  
  .text-content, .image-container {
      max-width: 100%;
      text-align: center;
  }
  
  .query-image {
      max-width: 90%;
      height: auto;
  }
  
  .title {
      font-size: 1.5rem;
  }

  .description {
      font-size: 1rem;
  }
  
  .cta-button {
      font-size: 1rem;
      padding: 0.8rem 1rem;
  }
  .logo{
    max-width: 50%;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
