/* Navbar Logo */
.nav-logo {
    width: 50px;
    font-size: 1.2rem;
    height: auto;
}
  
/* Left Section (Logo + Title) */
.nav-left {
  display: flex;
  align-items: center; /* Center vertically */
  gap: 10px; /* Space between logo and title */
}

.nav-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: white; /* White text for contrast */
  text-decoration: none;
}

/* Navbar Container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #2d3748;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  border-bottom: 1px solid #4a5568; 
  height: 40px; 
  min-width: fit-content;
}

/* Nav Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: rgb(255, 255, 255); /* Semi-transparent white for links */
  font-size: 1.1rem;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #f47442; /* Orange for hover effect */
}

/* Optional: Active Link Style */
.nav-links a.active {
  color: #f47442; /* Orange for active link */
  font-weight: bold;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color:white;
}

@media (max-width: 680px) {
  .nav-logo {
    width: 40px;
  }

  .nav-title {
    font-size: 1rem;
    padding: 0;
  }

  .nav-links a {
    font-size: 1rem;
  }

  .navbar {
    padding: 1rem 1rem;
    height: 40px;
    min-width: fit-content;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #2d3748;
    width: 200px;
    padding: 1rem;
    border-radius: 5px;
  }

  .nav-links.active {
      display: flex;
  }

  .hamburger {
      display: block;
  }

}